@import url("root.css");

.search_history {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid var(--mp-white);
  border-radius: 0 2rem 2rem 0;
}

.search_wrapper {
  width: 100%;
  height: 30%;
  background-color: red;
}

.search_history_items {
  width: 100%;
  height: 70%;
  background-color: blue;
}
