@import url('root.css');


.logo {

    font-family: var(--header-font);
    font-size: 1rem;
    color: var(--mp-white);
    text-align: center;
    margin: .5rem;

}

.main {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main_wrapper {

    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_right {

    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_left {
    height: 100%;
    flex: 2;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--mp-darkgrey);
    border: 1px solid var(--mp-white);
    border-radius: 2.5rem;
    overflow: hidden;
    box-sizing: content-box;
}