.navbar {
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_wrapper {
  width: 90%;
  height: 100%;
  font-family: var(--header-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20rem;
  box-sizing: content-box;
}

.logo {
  text-align: center;
  font-size: var(--header-fontsize);
  color: var(--mp-white);
}
